<!-- 商品详情 -->
<div class="commodity-page">
    <van-nav-bar style="border-bottom: 1px solid rgb(200,200,200); margin-bottom: 5px;" title="商品详情">
        <template #left>
            <span style="font-size: 16px;" @click="back()">
                <van-icon color="black" name="arrow-left" size="16" />返回
            </span>
        </template>
    </van-nav-bar>
    <!-- <div class="swipe-info">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
            <van-swipe-item v-for="(item, index) in swipeList" :key="index">
                <van-image width="100%" lazy-load :src="item" />
            </van-swipe-item>
        </van-swipe>
    </div> -->
    <div class="content-wrapper">
        <div class="content">
            <div class="content-line">
                <div class="tag">商品名称</div>
                <div class="name">{{obj.name}}</div>
            </div>
            <div class="content-line">
                <div class="tag">商品简介</div>
                <div class="name"></div>
            </div>
            <div class="imgs">
                <img v-for="(item, index) in swipeList" :key="index" :src="item" />
            </div>
            <div class="content-logo-img">
                <van-image width="60px" height="30px" fit="contain" src="/logo.jpg" />
            </div>
        </div>
    </div>
</div>