<div class="retrospect-page">
    <div class="title">追溯详情</div>
    <div class="retrospect-container">
        <div class="commodity-name">
            <div class="content-line">
                <div class="tag">商品名称</div>
                <div class="name">{{ infoObj.name }}</div>
            </div>
            <div class="content-line">
                <div class="tag">建议零售价</div>
                <div class="name">{{ infoObj.price }}元 </div>
            </div>
        </div>
        <div>
            <div class="step-list">
                <div class="step-item" v-for="(item, index) in list.filter(x=>x.sort<7)" :key="index"
                    @click="jumpPage(item)" :style="{ 'visibility': item.sort > 5 ? 'hidden': ''}">
                    <div class="triangle"></div>
                    <div class="sort">{{ item.sort }}</div>
                    <div class="icon" v-html="item.icon"></div>
                    <div class="name">{{item.name}} </div>
                    <div v-if="[1,2,7,8].includes(Number(item.sort))" class="right-arrow">
                        <i class="fa fa-angle-double-right"></i>
                    </div>
                    <div v-if="[5,6].includes(Number(item.sort))" class="right-arrow">
                        <i class="fa fa-angle-double-left"></i>
                    </div>
                    <div v-if="[3,6].includes(Number(item.sort))" class="down-arrow">
                        <i class="fa fa-angle-double-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-info">
            <div class="info-title">蚌埠市傲咪宠物有限公司(xmc)可追溯检测报告：</div>
            <div v-for="(item, index) in isccproductList" :key="index" @clic="jumpCert">
                {{item.caname}}
                <a id="cqc-cert" href="javascript:void(0)">{{item.caimg}}/3502</a>
            </div>
        </div>
        <div class="contact-info">
            <div class="left">
                <div class="we"><i class="fa-brands fa-weixin fa-fw" style="color:#55cf61"></i>&nbsp;&nbsp;关注我们</div>
                <div class="num">微信号：chinacndwine</div>
            </div>
            <div class="right">
                <img id="qrcode" src="http://trace.cndwine.com/common/mobileImg/qrcode.jpeg">
            </div>
        </div>
    </div>
</div>