<div class="overseas-page">
    <van-nav-bar style="border-bottom: 1px solid rgb(200,200,200); margin-bottom: 5px;" title="检测报告">
        <template #left>
            <span style="font-size: 16px;" @click="back()">
                <van-icon color="black" name="arrow-left" size="16" />返回
            </span>
        </template>
    </van-nav-bar>
    <div class="content-wrapper">
        <div class="content">
            <div class="content-line">
                <div class="tag">商品名称</div>
                <div id="goodsname" class="name">{{ infoObj.name }}</div>
            </div>
            <div class="content-line">
                <div class="tag">供&nbsp;应&nbsp;商</div>
                <div id="producername" class="name">{{ producername}}</div>
            </div>
            <div class="content-line">
                <div class="tag">检测证明</div>
            </div>
            <div class="content-line t-center imgs">
                <p v-if="imglist.length === 0" id="noImg" style="margin: 20px 0;color:#666">该产品无相关证书单据或相关单据出具中！</p>
                <img v-for="(item, index) in imglist" :src="item" :key="index"></img>
            </div>
            <div class="content-logo-img">
                <van-image width="60px" height="30px" fit="contain" src="/logo.jpg" />
            </div>
        </div>
    </div>
</div>